
# Bibliothèque pour faire des requêtes HTTP

requests

#Bibliothèque pour faire du scraping 

beautifulsoup4
transformers
protobuf
blobfile
Tiktoken
torch
SentencePiece

#Bibliothèque Api

fastapi
uvicorn

#Bibliothèque standard 

datetime